html, body {margin:0;padding:0;height:100%; width:100%;}
.fulltable{
 height:100%;
  width:100%;
 /* or overflow:auto; if you want scrollbars */

  background-color:burlywood;
}
.canvasInfo {
    height:100%;
  width:100%;
    border-width: 2px;
    border-color: black; 
}
.maintable{
    min-height: 500px;
 height:100%;
  width:100%;
 /* or overflow:auto; if you want scrollbars */

  background-color:burlywood;
}

.disable-overlay-layer {
    /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
    -ms-opacity: 0.2;
    opacity: 0.2;
}

.n

.gamespanel {
    overflow: visible;
}
.canvasCurrentCard {
    align-content: center;
    align-items: center;
    align-self: center;
}
.turnPane {
    background-color: beige;
    color: brown;
    font-family: Verdana;
    font-size: 15pt;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    align-content: stretch;
    height: 100%;
}
.clickablecard {
    cursor: pointer;
    border: 0;
}
img.trumpbutton {
    cursor: pointer;
    border: 0;
}

img.trumpbutton:hover {
    cursor: hand;
    border: 2px;
    border-color: darkgray;
}

.toprow{
    height:20%;
}
.middlerow{
    height:60%;
}
.bottomrow{
    height:20%;
}

.leftplayer
{
    width:20%
}
.rightplayer
{
    width:20%
}

.canvas
{
    width:60%
}



.table2-table-cell {
    height:100%;
    text-align: center;
    vertical-align: middle;
}






.main-interface {
    height:100%;
    width:100%;
    background-color: #50A35B;
}


.mobile-top-row {
    height:18%;
    width:100%;
    /*background-color: #B6B1E3;*/
}

.mobile-middle-row {
    height:40%;
    width:100%;
    /*background-color: #3C329C;*/
    display:flex;
}


.mobile-middle-row-col1 {
    flex:1;
    padding:item;
    height:100%;
    width:25%;
    /*background-color: #CC66A7;*/ 
}
.mobile-middle-row-col2 {
    flex:2;
    padding:item;
    height:100%;
    width:50%;
    text-align:center;
    vertical-align:middle;
    
    /*background-color: #CC66A7;*/
    
}
.mobile-middle-row-col3 {
    flex:1;
    padding:item;
    height:100%;
    width:25%;
    /*background-color: #CC66A7;*/
}

.mobile-middle2-row {
    height:18%;
    width:100%;
    /*background-color: #97BD66;*/
}

.mobile-bottom-row {
    height:26%;
    width:100%;
    vertical-align: top;
    background-color: #50A35B;
}

.mobile-player-name {
    text-shadow:3px 2px 0 rgba(0,0,0,1);
    font-weight:bold;
    color:#FFFFFF;
    letter-spacing:2pt;
    font-size:20px;
    font-family:verdana, sans-serif;
}

.mobile-player-name-top {
    text-align:center;
    vertical-align: bottom;
}

.mobile-player-name-left {
    font-size: 12px;
    text-align:center;
    vertical-align: top;
    text-wrap: normal;
    overflow-wrap: break-word;
}

.mobile-player-name-right {
    font-size: 12px;
    text-align:center;
    vertical-align: top;
    text-wrap: normal;
    overflow-wrap: break-word;
}

.mobile-player-name-bottom {
    text-align:center;
    vertical-align: top;
    text-wrap: normal;
    overflow-wrap: break-word;
}

.mobile-turn-player {
    text-shadow:3px 2px 0 rgba(237,232,97,1);
}

.mobile-turn-accumulated {
    text-shadow:1px 1px 0 rgba(255,255,255,1);font-weight:bold;color:#030BFF;letter-spacing:1px;font-size:22px;text-align:center;font-family:arial, helvetica, sans-serif;line-height:2px;
    vertical-align: top;
    text-align: center;    
}

.mobile-when-trump-chosen {
    height:70%;
    width:100%;
}

.mobile-choose-trump-pane {
    width:100%;
}

.mobile-choose-trump-text {
    text-shadow:3px 2px 0 rgba(0,0,0,1);
    font-weight:bold;
    color:#FFFFFF;
    letter-spacing:2pt;
    font-size:20px;
    font-family:verdana, sans-serif;
    text-align:center;
    vertical-align: bottom;
}