<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="fulltable">
        <div class="first-row" style="height:33%;">
            <div class="pull-left table2-table-cell">a</div>
            <div class="text-center table2-table-cell">b</div>
            <div class="pull-right table2-table-cell">c</div>
        </div>
        <div class="second-row" style="height:33%;">
            <div class="pull-left">a</div>
            <div class="text-center">b</div>
            <div class="pull-right">c</div>
        </div>
        <div class="third-row" style="height:33%;">
            <div class="pull-left">a</div>
            <div class="text-center">b</div>
            <div class="pull-right">c</div>
        </div>
    </div>
</body>
</html>
