<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
     <div class="panel">
        <div class="panel-heading panel-title">Finished</div>
         <div class="panel-body">
             <div ng-repeat="player in players" class="panel-default">
                 <div class="visible-lg-block">
                     {{player.userinfo.username}}'s score: {{player.gamescore}}
                 </div>
             </div>
         </div>
     </div>
    <div id="error-dialog" title="Error" style="display:none;">
        <p>
            <span style="float:left; margin:0 7px 50px 0;"></span>
            An Error has occurred.
        </p>
        <p>
            {{errorMessage}}
        </p>
    </div>
</body>
</html>
