<div id="joinTableWindow" class="k-content" style="display:none;">
    <div id="joinTable_Error" style="display:none; color:red; font-weight:bold;"></div>
    <div>Table name : <span id="joinTable_TableName"></span>&nbsp; <input type="hidden" id="joinTable_TableId" /></div>

    <div class="float-right">
<input type="button" onclick="joinTable_ButtonClicked();" id="joinTable_Join" value="Join" style="font-weight: normal; font-size: 13px;" />
<input type="button" onclick="" id="joinTable_Cancel" value="Cancel" style="font-weight: normal; font-size: 13px;" />
</div>
</div>

    <div id="joinATableGrid" >

    </div>
    <script>

        var createTableWindow$;
        function getjoinabletables_fail(data, textStatus, jqXHR) {
            $("#joinATableGrid").html(textStatus + "data=" + JSON.stringify(data));
        }

        function getjoinabletables_success(data, textStatus, jqXHR) {

            if (data.result.errorcode != "SUCCESS") {
                if (data.result.errorcode == "INVALIDLOGINTOKEN") {
                    location.href = "/TCWeb/Account/Login";
                }
                $("#joinATableGrid").html(JSON.stringify(data));
            }
            else {
                $("#joinATableGrid").html("");
                $("#joinATableGrid").kendoGrid({
                    dataSource: {
                        data: data.response.tables,
                        schema: {
                            model: {
                                fields: {
                                    TableId: { type: "string" },
                                    TableName: { type: "string" },
                                    AvailableSlots: { type: "int" }
                                }
                            }
                        },
                        pageSize: 10
                    },
                    height: 250,
                    scrollable: true,
                    sortable: true,
                    filterable: true,
                    pageable: {
                        input: true,
                        numeric: false
                    },
                    columns: [
                        {
                            field: "TableId",
                            title: "Table Id",
                            width: 0,
                            hidden: true
                        },
                        {
                            field: "TableName",
                            title: "Table",
                            width: 40
                        },
                        {
                            field: "AvailableSlots",
                            title: "Avail. Slots",
                            width: 20
                        },
                        {
                            command: {
                                name: "join",
                                text: "Join",
                                click: function (e) {

                                    e.preventDefault();
                                    var path = this.dataItem($(e.currentTarget).closest("tr"));
                                    var tableId = path.TableId;

                                    $("#joinTable_TableName").html(path.TableName);
                                    $("#joinTable_TableId").val(tableId);
                                    joinTableWindow$.data("kendoWindow").center();
                                    joinTableWindow$.data("kendoWindow").open();

                                    bindJoinTableEvents();
                                    
                                }
                            },
                            width: 10
                        }
                    ]
                });
            }

        }

        $(document).ready(function () {

            joinTableWindow$ = $("#joinTableWindow");

            joinTableWindow$.kendoWindow({

                title: "Join table",
                actions: ["Close"],
                modal: true,
                resizeable: false,
                minWidth: 400,
                maxWidth: 400
            });

        var params = {
            logintoken: $("#loginToken").val()
        };
        $.ajax({
            url: $("#tableServiceUrl").val() + "/ListJoinableTables/",
            type: "POST",
            data: JSON.stringify(params),
            contentType: "application/json;charset=utf-8",
            success: getjoinabletables_success,
            error: getjoinabletables_fail,
            OPTIONS: null,
        });
          
        });
    </script>


<script type="text/javascript">
    function joinTable_ButtonClicked() {
        JoinTable($("#joinTable_TableId").val());
    }


    function bindJoinTableEvents() {
        $("#joinTable_Cancel").click(function () {
            joinTableWindow$.data("kendoWindow").close();
        });
        //  $("createTable_Create").eq(0).onclick = createTable_ButtonClicked;
        //$("#createTable_Create").unbind('click');
        //$("#createTable_Create").click(function () {
        //    CreateTable($("#createTable_TableName").val());
        //});
    }
    function JoinTable(tableId) {
        var params = {
            logintoken: $("#loginToken").val(),
            tableid: tableId
        };

        $.ajax({
            url: $("#tableServiceUrl").val() + "/JoinTable/",
            type: "POST",
            data: JSON.stringify(params),
            contentType: "application/json;charset=utf-8",
            success: joinTable_success,
            error: joinTable_fail,
            OPTIONS: null,
        });
    }



    function joinTable_success(data, textStatus, jqXHR) {

        if (data.result.errorcode != "SUCCESS") {
            if (data.result.errorcode == "INVALIDLOGINTOKEN") {
                location.href = "/TCWeb/Account/Login";
            }
            $("#joinTable_Error").html(data.result.message);
            $("#joinTable_Error").show("slide");
        }
        else {

            joinTableWindow$.data("kendoWindow").close();
            joinTableWindow$.delay(200);
            joinTableWindow$.data("kendoWindow").destroy();
            var tabStrip = $("#tableTabStrip").data("kendoTabStrip");

            var tab = tabStrip.tabGroup.children("li").eq(0)

            tabStrip.reload(tab);
            $("#joinTable_TableId").val("");


        }

    }

    function joinTable_fail(data, textStatus, jqXHR) {
        $("#joinTable_Error").html("Failed : " + JSON.stringify(data));
    }

</script>